<!-- The main content of the page is enclosed in a div element with a class of 'main-content'. -->
<div class="main-content">
    <!-- This is a card element with a z-depth of 16. -->
    <div class="mat-elevation-z16">

        <!-- This div contains a header title for the batch list. -->
        <div class="main-heading">
            <h1>Batch List Deleted</h1>
        </div>

        <!-- This div contains a filter bar and a title for the batch list. -->
        <div class="buttonAndFilter">
            <div> 
                <button class="main-padding-right" mat-flat-button color="primary" (click)="backToBatch()">
                    Back
                </button>
            </div>
            <!-- This div contains a search filter field for the batch list. -->
            <div class="filterBar main-padding-left">
                <!-- This is an Angular Material form field with an input box for text. -->
                <mat-form-field>
                    <input matInput type="text" placeholder="Filter" (keyup)="doFilter($any($event).target.value)">
                </mat-form-field>
            </div>

           


        </div>

        <!-- This is an Angular Material table element with a data source. -->
        <table mat-table [dataSource]="dataSource">

            <!-- This is a column definition for the batch name. -->
            <ng-container matColumnDef="batchName">
                <th mat-header-cell *matHeaderCellDef>Batch Name</th>
                <td mat-cell *matCellDef="let element">{{ element.batchName }}</td>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef>Start Date</th>
                <td mat-cell *matCellDef="let element">{{ element.startDate | date }}</td>
            </ng-container>

            <!-- This is a column definition for whether the batch is active or not. -->
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef>Active</th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox disabled [checked]="element.active"></mat-checkbox>
                </td>
            </ng-container>

            <!-- This is a column definition for the created date of the batch. -->
            <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef>Created Date</th>
                <td mat-cell *matCellDef="let element">{{ element.createdDate | date }}</td>
            </ng-container>

            <!-- This is a column definition for the actions that can be performed on a batch. -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                  
                    <!-- This button is for deleting the selected batch. -->
                    <button mat-icon-button color="warn" (click)="unDeleteBatch(element.id)">
                        <mat-icon>add</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- This is a row definition for the table header row. -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <!-- This is a row definition for the table rows. -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        </table>
    </div>

</div>