/* Default styles for the sidebar and navbar */
.sidebar {
    width: 250px;
    /* Adjust this as needed */
    transition: width 0.3s;
    /* Smooth transition effect */
}



/* Styles for the minimized sidebar and expanded sidebar */
.sidebar.minimized {
    width: 60px;
    /* Adjust this as needed for the minimized width */
    /* Other styles for the minimized sidebar */
}

.sidebar.expanded {
    width: 250px;
    /* Same as the default width */
    /* Other styles for the expanded sidebar */
}

/* Styles for minimizing the navigation on small screens */
.sidebar.minimized .app-navigation {
    display: none;
    /* Hide the navigation component when sidebar is minimized */
}

/* Styles for expanding the navigation on small screens */
.sidebar.expanded .app-navigation {
    display: block;
    /* Show the navigation component when sidebar is expanded */
}