/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content {
    margin-top: 50px;
    padding: 15px 30px;
    min-height: calc(100vh - 123px);
  }

  .buttonAndFilter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
  }
  .main-panel {
    position: relative;
    float: right;
    width: calc(100% - 260px);
    -webkit-transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  
.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 260px;
  background: #fff;
  -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.actionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.question-list-section {
  margin-top: 16px;
  margin-bottom: 16px;
}

.option-row {
  margin: 16px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;*/
  align-items: center;
}

.questionIndexCol {
  /* width: 30px; */
  flex: 0 0 30px;
  font-weight: bold;
  vertical-align: middle;
}

.questionOptionCol {
  flex: 1 1 auto;
}

.questionDeleteCol {
  flex: 0 0 30px;
  text-align: right;
}


.errorBar {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
